.register_btn {
            justify-content: right;
            height: 30px;
            width: 120px;
            color: aliceblue;
            background-color: rgb(28, 63, 239);
            justify-content: right;
            cursor: pointer;
            border-radius: 6px;

        }

        .button2{
            margin-top: 130px;
        }

button:hover{
            background-color: rgb(21, 48, 127);
        }

.order_btn {
    justify-content: center;
    width: 280px;
    color: blue;
}