footer {
    background: #e5e7eb;
    color: rgb(25, 5, 5);
    /* text-align: center; */
    padding: 10px;
    height: 208px;
}
.final{
    display: flex;
    flex: 50% 50%;
    padding-bottom: 0px;
    border-bottom: 2px solid black;

}

.footer-logo{
    justify-content: start;
    align-items: flex-start;
    margin-top: 90px;
    
    align-items: left;
   
}

.social-links {

    justify-content: end;
    margin-top: 5px;
    margin-left: 850px;
    
}

.social-links a {
    color: rgb(25, 16, 50);
    font-size: 24px;
    margin: 0 10px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: #00bfff;
}
.rights{
    display: flex;
    gap: 700px;
}